.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: rgba(17, 17, 17, 0.98); 
  backdrop-filter: blur(100px); 
  top: 0;
  z-index: 1000;
}


/*logo and title */
.navbar__logo {
  display: flex;
  align-items: center;
  gap: 10px; 
}

.navbar__logo img {
  height: 40px;
}

.navbar__title {
  font-size: 40px; 
  font-weight: bold;
  background: linear-gradient(116.79deg, #DB2777 -10.97%, #F97316 114.58%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-fill-color: transparent;
}

.navbar__links a {
  margin: 0 15px;
  text-decoration: none;
  color: #fff;
  font-weight: 500;
}

.navbar__links a:hover {
  color: #ff6b6b;
  transition: color 0.3s ease;
}

/* signup button */
.navbar__cta .navbar__signup {
  position: relative;
  padding: 10px 20px;
  background: transparent; 
  color: rgba(245, 245, 245, 1); 
  font-weight: 600;
  cursor: pointer;
  border: none; 
  border-radius: 25px; 
  overflow: hidden; 
}

.navbar__cta .navbar__signup:before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 2px; 
  background: linear-gradient(126.89deg, #DB2777 -67.19%, #F97316 203.32%);
  border-radius: 25px; 
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0); 
  -webkit-mask-composite: destination-out; 
  mask-composite: exclude;
}

.navbar__cta .navbar__signup:hover {
  background-color: rgba(255, 255, 255, 0.1); 
}
